.table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 500px;
    display: table;
}
.tr {
    display: table-row;
}
.td, .th {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
.th {
    background: #FF9640;
    color: #043C6B;
    font-weight: bold;
}
.odd .td:nth-child(odd),
.even .td:nth-child(even) {
    background: white;
}
.even .td:nth-child(odd),
.odd .td:nth-child(even) {
    background: #006363;
}
.start {
    background: #BF3030 !important;
}
.finish {
    background: #876ED7 !important;
}